*{
    padding: 0;
    margin: 0;
    font-family: "Exo 2", serif;
    
}
body{
    background-color: #B2E672;
}

.navbar{
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    background-color: #F96B85;
}

.pop-bg{
    width: 100%;
    position: absolute;
    z-index:1;
    height: 100%;
    background-color: black;
    opacity: 60%;
    display: none;
}

.pop{
    background-color: #FFFD88;
    padding: 40px;
    position: absolute;
    display: none;
    z-index: 2;
    top: 10%;
    left: 25%;
    width: 50%;
    border-radius: 30px;
}

.pop h2{
    text-align: center;
    font-size: 2.3rem;
    margin: 30px;
    margin-top: -20px;

}
.pop-box{
    width: 80%;
    border:none;
    margin: 10px;
    padding: 30px;
    background-color: #B2E672;
    color: black;
    border-radius: 20px;
}

.btn{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.pop-btn{
    padding: 20px;
    background-color: #F96B85;
    border: none;
    border-radius: 20px;
    width: 200px;
    font-size: 1.5rem;
}

textarea{
    height: 100px;
}

#new-btn{
    background-color: #F96B85;
    border: none;
    position: fixed;
    bottom: 15%;
    right: 2%;
    font-size: 3rem;
    padding: 5px 20px 10px 20px;
    border-radius:50% ;
}

.footer{
    position: fixed;
    bottom: 0;
    width:98%;
    padding: 15px;
    background-color: #F96B85;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    text-decoration: underline;
}



/*CSS for notes*/
.container{
    display: flex;
    flex-wrap: wrap;
}

.note{
    background-color: black;
    color: #FFD478;
    padding: 20px;
    flex-grow: 1;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    width: 18%;
    vertical-align: top;
    min-height:200px;
    position: relative;
}

.note h4,p{
    padding: 5px;
}
.div-btn{
    padding: 10px;
    margin: 10px;
    border:none;
    border-radius: 10px;
    background-color:#F96B85;
}

@media screen and (max-width:576px) {

    .navbar{
        padding: 5px;
        text-align: center;
        width: 100%;
        font-size: 1rem;
        background-color: #F96B85;
    }
    
    .note{
        background-color: black;
        color: #FFD478;
        border-radius: 20px;
        width: 85%;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width:100%;
        background-color: #F96B85;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
    }

    .pop{
        background-color: #FFFD88;
        padding: 2px;
        position: absolute;
        display: none;
        left: 0;
        z-index: 2;
        width: 100%;
        border-radius: 3px;
    }

    .pop h2{
        text-align: center;
        font-size: 1rem;
        margin: 5px;
    
    }
    .pop-box{
        width: 80%;
        border:none;
        padding: 2px;
        background-color: #B2E672;
        color: black;
        border-radius: 3px;
    }

    textarea{
        height: 40px;
    }

    .pop-bg{
        width: 100vw;
        position: absolute;
        z-index:1;
        height: 100vh;
        background-color: black;
        opacity: 60%;
        display: none;
    }
    .btn{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .pop-btn{
        padding: 4px;
        background-color: #F96B85;
        border: none;
        border-radius: 5px;
        width: 30%;
        margin: 3px;
        font-size: 0.6rem;
    }
}
@media screen and (min-width:577px) and (max-width:776px){

    .navbar{
        padding: 7px;
        text-align: center;
        width: 100%;
        font-size: 1.2rem;
        background-color: #F96B85;
    }
    
    .note{
        background-color: black;
        color: #FFD478;
        border-radius: 20px;
        width: 35%;
        display: inline-block;
    }

    .footer{
        position: fixed;
        bottom: 0;
        width:100%;
        background-color: #F96B85;
        display: flex;
        justify-content: space-between;
        font-size: 0.7rem;
    }

    .pop{
        background-color: #FFFD88;
        padding: 2px;
        position: absolute;
        display: none;
        left: 0;
        z-index: 2;
        left: 20%;
        width: 60%;
        border-radius: 3px;
    }

    .pop h2{
        text-align: center;
        font-size: 1.2rem;
        margin: 5px;
    
    }
    .pop-box{
        width: 80%;
        border:none;
        padding: 2px;
        background-color: #B2E672;
        color: black;
        border-radius: 3px;
    }

    textarea{
        height: 40px;
    }

    .pop-bg{
        width: 100vw;
        position: absolute;
        z-index:1;
        height: 100vh;
        background-color: black;
        opacity: 60%;
        display: none;
    }
    .btn{
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    .pop-btn{
        padding: 4px;
        background-color: #F96B85;
        border: none;
        border-radius: 5px;
        width: 30%;
        margin: 3px;
        font-size: 0.6rem;
    }
}
